
# Ignorar node_modules en subdirectorios client y api
client/node_modules/
api/node_modules/
api/.env

# Ignorar dist (build) directory de Vite en client
client/dist/

# Ignorar build output de Express (si aplicable)
api/build/

# Ignorar archivos de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar directorios de entorno (si los hay)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignorar archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de configuración de editores y sistemas IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Ignorar coverage de pruebas
coverage/

# Ignorar otras configuraciones y archivos generados
*.bak
*.tmp
